{% extends "layout.njk" %}

{% block head %}
  <title>Nova Receita</title>
{% endblock %}

{% block header %}
  <header class="header-manager">
    <div class="menu-manager">
      <div class="logo-manager">
        <a href="/admin/receitas">
          <img src="/assets/logo-manager.png" alt="Logo foodfy">
        </a>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  <section class="details">

    <form method="POST" action="/admin/receitas">

      <h3>Nova Receita</h3>

      <div class="item">
        <div>Imagem da receita</div>
        <div>
          <input type="text" name="image" placeholder="http://" value="">
        </div>
      </div>

      <div class="item">
        <div>Título da receita</div>
        <div>
          <input type="text" name="title" placeholder="Nome da receita" value="">
        </div>
      </div>

      <div class="item">
        <div>Autor da receita</div>
        <div>
          <input type="text" name="author" placeholder="Nome do autor" value="">
        </div>
      </div>

      <div class="item" id="ingredients">
        <div>Ingredientes</div>
        <div class="ingredient">
          <input type="text" name="ingredients[]" placeholder="Incluir um ingrediente por vez" value="">
        </div>
      </div>
      <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
      
      <div class="item" id="preparos">
        <div>Modo de preparo</div>
        <div class="preparo">
            <input type="text" name="preparation[]" placeholder="Incluir um passo por vez" value="">
        </div>
      </div>
      <button type="button" class="add-preparo">Adicionar novo passo</button>

      <div class="item">
        <div>Informações adicionais</div>
        <div>
          <textarea name="information" cols="30" rows="10"></textarea>
        </div>
      </div>

      <button class="edit" type="submit">Salvar Receita</button>
    </form>

  </section>
{% endblock %}