{% extends "layout.njk" %}

{% block head %}
  <title>Foodfy - Gerenciador de receitas</title>
{% endblock %}

{% block header %}
  <header class="header-manager">
    <div class="menu-manager">
      <div class="logo-manager">
        <a href="/admin/receitas">
          <img src="/assets/logo-manager.png" alt="Logo foodfy">
        </a>
      </div>
      <div class="admin-manager">
        <a href="/">Ir ao Site</a>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}

  <div class="recipe-manager">
    <div class="title-button-manager">
      <h2>Gerenciar Receitas</h2>
      <a class="button" href="/admin/receitas/create ">Nova Receita</a>
    </div>

    <div class="cards-manager">
      {% for recipe in recipes %}
        <div class="card-manager">
          <img src="{{recipe.image}}" alt="{{recipe.title}}">
          <div class="info-card-manager">
            <span>{{recipe.title}}</span>
            <p>{{recipe.author}}</p>
            <a href="/admin/receitas/{{ recipe.id }}">Visualizar</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}