{% extends "layout.njk" %}

{% block head %}
  <title>Foodfy - Gerenciador de Chefs</title>
{% endblock %}

{% block header %}
  <header class="header-manager">
    <div class="menu-manager">
      <div class="logo-manager">
        <a href="/admin/receitas">
          <img src="/assets/logo-manager.png" alt="Logo foodfy">
        </a>
      </div>
      <div class="links-manager">
        <a href="/admin/receitas">Receitas</a>
        <a href="/admin/chefs">Chefs</a>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}

  <div class="recipe-manager-chef">
    <div class="title-button-manager">
      <h2>Gerenciar Chefs</h2>
      <a class="button" href="/admin/chefs/create ">Novo Chef</a>
    </div>

    <div class="cards-manager-chef">
      {% for recipe in recipes %}
        <div class="card-manager-chef">
          <img src="{{recipe.image}}" alt="{{recipe.title}}">
          <div class="info-card-manager-chef">
            <span>{{recipe.title}}</span>
            <a href="/admin/chefs/{{ recipe.id }}">Visualizar</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}