{% extends "layout.njk" %}

{% block head %}
  <title>Foodfy -
    {{chef.name}}</title>
{% endblock %}

{% block header %}
  <header class="header-manager">
    <div class="menu-manager">
      <div class="logo-manager">
        <a href="/admin/receitas">
          <img src="/assets/logo-manager.png" alt="Logo foodfy">
        </a>
      </div>
      <div class="links-manager">
        <a href="/admin/receitas">Receitas</a>
        <a href="/admin/chefs">Chefs</a>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  <div class="title-button">
    <h2>Chef:
      {{recipe.title}}</h2>
    <a class="button" href="/admin/chefs/{{ recipe.id }}/edit ">Editar Chef</a>
  </div>

  <div class="chef-page-details">
    <div class="chef-details">
      <img src="{{recipe.image}}" alt="{{recipe.title}}">
      <div class="info-chef-details">
        <span>{{recipe.title}}</span>
        <p>{{recipe.author}} Receita(s)</p>
      </div>
    </div>
  </div>

  <div class="recipe">
    <h2>Receitas</h2>
    <div class="cards-chef">

      <div class="card-chef">
        <img src="/assets/chef.png" alt="{{recipe.title}}">
        <div class="info-card-chef">
          <span>{{recipe.title}}</span>
          <p>{{recipe.author}}</p>
          <a href="/admin/receitas/{{ recipe.id }}">Visualizar</a>
        </div>
      </div>
      <div class="card-chef">
        <img src="/assets/chef.png" alt="{{recipe.title}}">
        <div class="info-card-chef">
          <span>{{recipe.title}}</span>
          <p>{{recipe.author}}</p>
          <a href="/admin/receitas/{{ recipe.id }}">Visualizar</a>
        </div>
      </div>
      <div class="card-chef">
        <img src="/assets/chef.png" alt="{{recipe.title}}">
        <div class="info-card-chef">
          <span>{{recipe.title}}</span>
          <p>{{recipe.author}}</p>
          <a href="/admin/receitas/{{ recipe.id }}">Visualizar</a>
        </div>
      </div>
      <div class="card-chef">
        <img src="/assets/chef.png" alt="{{recipe.title}}">
        <div class="info-card-chef">
          <span>{{recipe.title}}</span>
          <p>{{recipe.author}}</p>
          <a href="/admin/receitas/{{ recipe.id }}">Visualizar</a>
        </div>
      </div>
    </div>
  </div>

  <script src="/scripts/scripts.js"></script>

{% endblock %}