{% extends "layout.njk" %}

{% block head %}
  <title>Foodfy -
    {{chef.name}}</title>
{% endblock %}

{% block header %}
  <header class="header-manager">
    <div class="menu-manager">
      <div class="logo-manager">
        <a href="/foodfy/admin/receitas">
          <img src="/assets/logo-manager.png" alt="Logo foodfy">
        </a>
      </div>
      <div class="links-manager">
        <a href="/foodfy/admin/receitas">Receitas</a>
        <a href="/foodfy/admin/chefs">Chefs</a>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  <div class="title-button">
    <h2>Chef:
      {{chef.name}}</h2>
    <a class="button" href="/foodfy/admin/chef/{{ chef.id }}/edit ">Editar Chef</a>
  </div>

  <div class="chef-page-details">
    <div class="chef-details">
      <img src="{{chef.avatar_url}}" alt="{{chef.name}}">
      <div class="info-chef-details">
        <span>{{chef.name}}</span>
        <p>{{chef.total_recipes}} Receita(s)</p>
      </div>
    </div>
  </div>

  <div class="recipe">
    <h2>Receitas</h2>
    <div class="cards-chef">
      {% for recipe in recipes_chef %}
      <div class="card-chef">
        <img src="{{recipe.image}}" alt="{{recipe.title}}">
        <div class="info-card-chef">
          <span>{{recipe.title}}</span>
          <p>{{chef.name}}</p>
          <a href="/foodfy/admin/receita/{{ recipe.id }}">Visualizar</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <script src="/scripts/scripts.js"></script>

{% endblock %}