@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: #FFF;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  margin-bottom: 30px;
  background-color: #EEEEEE;
}

div.menu {
  display: flex;
  height: 70px;
  margin: 0 16%;
  position: relative;
  align-items: center;
}

div.links {  
  margin-left: 80px;
}

div.links a {
  color: #111111;
  font-size: 18px;
  line-height: 26px;
  margin: 16px;
  text-decoration: none;
}

div.admin a{
  background-color: #FFF;
  color: #111111;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 8px;
  position: absolute;
  right: 0;
  top: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

div.links a:hover {
  color: #6558C3;
  font-weight: bold;
  text-decoration: underline;
}

div.links a.active {
  color: #6558C3;
  font-weight: bold;
}

div.links a.active:hover {
  opacity: 0.5;
}

div.banner {
  background-color: #FBDFDB;
  max-width: 940px;
  max-height: 366px;
  border-radius: 30px;
  margin: 0 16%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.content {
  display: flex;
  flex-direction: column; 
  margin-left: 50px;
  max-width: 50%;
}

div.title {
  max-width: 305px;
  margin-bottom: 10px;
}

div.description {
  max-width: 316px;
  font-size: 18px;
  line-height: 28px;
}

div.cook-image {
  margin-right: 100px;
  margin-top: 70px;
}

div.recipe {
  max-width: 940px;
  max-height: 366px;
  border-radius: 30px;
  margin: 32px 16%;
}

div.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 200px;
}

div.card,
div.card-index {
  max-width: 300px;
  max-height: 140px;
  margin: 50px 0;
  cursor: pointer;
}

div.card-index {
  cursor: initial;
}

div.card img,
div.card-index img {
  width: 100%;
  height: 120px;
  border-radius: 15px;
}

div.info-card {
  margin: 20px 0;
}

div.info-card span {
  font-size: 18px;
  font-weight: bold;
}

div.info-card p {
  margin-top: 5px;
  opacity: 0.5;
}

div.content-footer {
  width: 100%;
  height: 62px;
  background-color: #EEEEEE;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*========Page Sobre=============*/

div.container-about {
  max-width: 940px;
  margin: 0 16%;
  margin-bottom: 120px;
}

div.container-about h2 {
  font-size: 24px;
  line-height: 28px;
  margin: 10px;
}

div.container-about h3 {
  margin: 10px;
}

div.about {
  max-width: 940px;
  background-color: #eee;
  padding: 5px 20px;
  border-radius: 16px;
}

div.about p{
  color: #444444;
  font-size: 18px;
  line-height: 28px;
  margin: 20px 0;
  text-align: justify;
}

/*======Recipe-page=======*/
div.recipe-page {
  max-width: 940px;
  border-radius: 30px;
  margin: 0 16%;
  margin-top: -50px;
}

/*======Recipe Details Page=======*/
div.recipe-page-details {
  max-width: 70%;
  border-radius: 30px;
  margin: 0 0 100px 16%;
  text-align: center;
}

div.recipe-details img{
  width: 100%;
  height: 280px;
  border-radius: 15px;
  margin: 5px 0 50px 0;
}

div.info-recipe-details span {
  font-size: 36px;
  line-height: 42px;
  font-weight: bold;
}

div.info-recipe-details p {
  color: #777777;
  font-size: 20px;
  margin-bottom: 50px;
}

div.contents {
  width: 100%;
  text-align: left;
  margin-bottom: 50px;
}

div.head {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 20px 0;
  height: auto;
}

div.head h2 {
  font-size: 24px;
  line-height: 28px;
  margin-right: 10px;
}

div.head a {
  color: #999999 ;
  font-size: 12px;
  line-height: 14px;
  margin: auto 0;
  cursor: pointer;
}

div.content-recipe-details {
  width: 100%;
  margin-left: 20px;
}

div.content-recipe-details.ingredients {
  display: none;
}

div.content-recipe-details.preparation {
  display: none;
}

div.content-recipe-details.information {
  display: none;
}

div.content-recipe-details li{
  width: 100%;
  color: #444444;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
}

div.content-recipe-details ol li {
  width: 100%;
  color: #444444;
  font-size: 18px;
  text-align: left;
  margin-bottom: 5px;
}

div.content-recipe-details p {
  width: 100%;
  color: #444444;
  font-size: 18px;
  text-align: left;
  margin-left: -20px;
  margin-bottom: 2em;
}

/*==========Page index Manager======*/
header.header-manager {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

div.menu-manager {
  width: 100%;
  height: 80px;
  background-color: #111111;
  display: flex;
  justify-content: left;
  align-items: center;

}

div.logo-manager {
  margin-left: 16%;

}

div.links-manager {
  margin-left: 50px;
}

div.links-manager a {
  color: #999999;
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

div.links-manager a + a {
  margin-left: 20px;
}

div.links-manager a:hover {
  color: #FFF;
}

div.links-manager .active {
  color: #FFF;
}

div.cards-manager {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin: 30px 0 100px 0;
}

div.card-manager {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100px;
}

div.card-manager img {
  width: 100%;
  height: 100px;
  border-radius: 15px;
}

div.info-card-manager {
  margin-left: 20px;
}

div.info-card-manager span {
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
}

div.info-card-manager p {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  margin-top: 10px;
  opacity: 0.5;
}

div.info-card-manager a {
  font-size: 14px;
  line-height: 16px;
  color: #6558C3;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
}

div.info-card-manager a:hover {
  opacity: 0.8;
}

/*==========Page Show============*/
div.title-button {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  box-sizing: border-box;
}

div.title-button h2 {
  margin: 40px 0 0 15px;
}

div.title-button a.button,
div.title-button-manager a.button {
  padding: 8px 32px;
  background-color: #6558C3;
  border-radius: 6px;
  margin: 40px 15px 0 0;
  max-width: 170px;
  text-align: center;
  box-sizing: border-box;
  color: #FFF;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

div.recipe-manager {
  max-width: 80%;
  margin: 0 16%;
}

div.title-button-manager {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  box-sizing: border-box;
}

div.title-button-manager h2 {
  margin: 40px 0 0 5px;
}

/*==========Page Edit============*/
/*=======DETAILS=======*/

.details {
  max-width: 70%;
  margin: 0 auto;
  padding: 32px;
  margin-bottom: 100px;
  position: relative;
}

.details .item {
  padding: 16px 0;
}

.details .item:last-child {
  border-bottom: none;
}

.details h3 {
  margin: 25px 0 30px -5px;
  font-size: 24px;
  line-height: 28px;
  color: #111111;
  letter-spacing: 0.7px;
  font-weight: bold;
}

/*=========Fields============*/

.details .item div:nth-child(1) {
  font-size: 16px;
  line-height: 19px;
  color: #111111;
  font-weight: bold;
}

input,
textarea {
  color: #111111;
  font-size: 16px;
  line-height: 26px;
  width: 100%;
  border: 2px solid #DDDDDD;
  outline: none;
  height: 25px;
  padding: 15px;
  margin-top: 10px;
}

.details .item div:nth-child(2) textarea {
  font-family: 'Roboto', sans-serif;
  height: 250px;
  margin-top: 10px;
}

input::placeholder {
  font-size: 16px;
  font-weight: normal;
}

button.add-ingredient,
button.add-preparo {
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
  color: #6558C3;
  display: inline-block;
  margin: 5px 0 20px 0;
  background-color: #FFF;
  outline: none;
  cursor: pointer;
}

.item div:nth-child(2) button:hover {
  opacity: 0.7;
}

button[type="submit"] {
  padding: 8px 32px;
  background-color: #6558C3;
  border-radius: 6px;
  max-width: 180px;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 60px;
}

button[type="submit"]:hover {
  opacity: 0.8;
  transition: 500ms;
}

#form-delete button[type="submit"] {
  background-color: #DC4747;
  right: 180px;
  top: 60px;
  margin-right: 10px;
}

/*==========CHEFS MANAGER============*/
div.chef-manager {
  max-width: 80%;
  margin: 0 16%;
}

div.cards-manager-chef {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 32px;
  box-sizing: border-box;
}

div.card-manager-chef {
  display: grid;
  grid-template-columns: 64px 1fr;
  align-items: center;
  width: 100%;
  height: 100px;
}

div.card-manager-chef div {
  margin-left: 15px;
  width: 105px;
}

div.card-manager-chef img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

div.info-card-manager-chef {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.info-card-manager-chef span {
  color: #111111;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  margin-bottom: 10px;
}

div.info-card-manager-chef a {
  font-size: 14px;
  line-height: 16px;
  color: #6558C3;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
}

div.info-card-manager-chef a:hover {
  opacity: 0.8;
}

/*==============DETAILS CHEFS==============*/
div.chef-page-details {
  max-width: 70%;
  margin: 0 0 100px 16%;
  text-align: center;
}

div.chef-details img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 5px 0 50px 0;
}

div.info-chef-details span {
  font-size: 36px;
  line-height: 42px;
  font-weight: bold;
}

div.info-chef-details p {
  color: #777777;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 50px;
  margin-top: 10px;
}

div.cards-chef {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin: 30px 0 100px 0;
}

div.card-chef {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100px;
}

div.card-chef img {
  width: 172px;
  height: 80px;
  border-radius: 15px;
}

div.info-card-chef span {
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
}

div.info-card-chef p {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  margin-top: 10px;
  opacity: 0.5;
}

div.info-card-chef a {
  font-size: 14px;
  line-height: 16px;
  color: #6558C3;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
}

div.info-card-chef a:hover {
  opacity: 0.8;
}

