{% extends "layout.njk" %}

{% block head %}
  <title>Editar Receita</title>
{% endblock %}

{% block header %}
  <header class="header-manager">
    <div class="menu-manager">
      <div class="logo-manager">
        <a href="/foodfy/admin/receitas">
          <img src="/assets/logo-manager.png" alt="Logo foodfy">
        </a>
      </div>
      <div class="links-manager">
        <a href="/foodfy/admin/receitas">Receitas</a>
        <a href="/foodfy/admin/chefs">Chefs</a>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  <section class="details">

    <form method="POST" action="/foodfy/admin/receita?_method=PUT">

      <h3>Editando Receita</h3>

      <div class="item">
        <div>Imagem da receita</div>
        <div>
          <input type="text" name="image" placeholder="http://" value="{{ recipe.image }}">
        </div>
      </div>

      <div class="item">
        <div>Título</div>
        <div>
          <input type="text" name="title" value="{{ recipe.title }}">
        </div>
      </div>

      <div class="item">
        <div>Chef - <span style="font-weight: normal">*(Caso o chefe não conste nas opções, cadastrá-lo antes em Chefs)</span></div>
        <div>
          <select name="chef_id">
            <option value="">Selecione</option>
            {% for chef in chefOptions %}
            <option value="{{ chef.id }}" {% if recipe.chef_id == chef.id %} selected{% endif %}>
              {{ chef.name }}
            </option>{{ chef.name }}
            {% endfor %}
          </select>    
        </div>
      </div>

      <div class="item" id="ingredients">
        <div>Ingredientes</div>
        {% for ingredient in recipe.ingredients %}
          {% if ingredient != "" %}
            <div class="ingredient">
              <input type="text" name="ingredients[]" placeholder="Incluir um ingrediente por vez" value="{{ ingredient }}">
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>

      <div class="item" id="preparos">
        <div>Modo de preparo</div>
        {% for preparation in recipe.preparation %}
          {% if preparation != "" %}
            <div class="preparo">
              <input type="text" name="preparation[]" placeholder="Incluir um passo por vez" value="{{ preparation }}">
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <button type="button" class="add-preparo">Adicionar novo passo</button>

      <div class="item">
        <div>Informações adicionais</div>
        <div>
          <textarea name="information" cols="30" rows="10">{{ recipe.information }}</textarea>
        </div>
      </div>

      <input type="hidden" name="id" value="{{ recipe.id }}">

      <button class="edit" type="submit">Salvar Receita</button>
    </form>

    <form id="form-delete" method="POST" action="/foodfy/admin/receita?_method=DELETE">
      <input type="hidden" name="id" value="{{ recipe.id }}">

      <button class="edit" type="submit">Deletar</button>
    </form>

  </section>
{% endblock %}