{% extends "layout.njk" %}

{% block content %}

  <div class="banner">
    <div class="content">
      <div class="title">
        <h1>As melhores receitas</h1>
      </div>
      <div class="description">
        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
      </div>
    </div>

    <div class="cook-image">
      <img src="/assets/chef.png" alt="Imagem cozinheiro">
    </div>
  </div>

  <div class="recipe">
    <h2>Receitas em destaque</h2>
    <div class="cards">
      {% for recipe in revenues %}
        <div class="card">
          <img src="{{recipe.image}}" alt="{{recipe.title}}">
          <div class="info-card">
            <span>{{recipe.title}}</span>
            <p>{{recipe.author}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}