{% extends "layout.njk" %}

{% block head %}
  <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}
  <div class="recipe-page">
    <div class="cards">
      <div class="card">
        <img src="/assets/burger.png" alt="Triplo bacon burger">
        <div class="info-card">
          <span>Triplo bacon burger</span>
          <p>por Jorge Relato</p>
        </div>
      </div>

      <div class="card">
        <img src="/assets/pizza.png" alt="Pizza quatro estações">
        <div class="info-card">
          <span>Pizza quatro estações</span>
          <p>por Jorge Relato</p>
        </div>
      </div>

      <div class="card">
        <img src="/assets/espaguete.png" alt="Espaguete de alho">
        <div class="info-card">
          <span>Espaguete de alho</span>
          <p>por Julia Kinoto</p>
        </div>
      </div>

      <div class="card">
        <img src="/assets/lasanha.png" alt="Lasanha mac n` chesse">
        <div class="info-card">
          <span>Lasanha mac n` chesse</span>
          <p>por Juliano Vieira</p>
        </div>
      </div>

      <div class="card">
        <img src="/assets/doce.png" alt="Docinhos pão do céu">
        <div class="info-card">
          <span>Docinhos pão do céu</span>
          <p>por Ricardo Golvea</p>
        </div>
      </div>

      <div class="card">
        <img src="/assets/asinhas.png" alt="Asinhas de frango ao barbecue">
        <div class="info-card">
          <span>Asinhas de frango ao barbecue</span>
          <p>por Vania Steroski</p>
        </div>
      </div>

      <div class="card">
        <img src="/assets/burger.png" alt="Triplo bacon burger">
        <div class="info-card">
          <span>Triplo bacon burger</span>
          <p>por Jorge Relato</p>
        </div>
      </div>

      <div class="card">
        <img src="/assets/pizza.png" alt="Pizza quatro estações">
        <div class="info-card">
          <span>Pizza quatro estações</span>
          <p>por Jorge Relato</p>
        </div>
      </div>

      <div class="card">
        <img src="/assets/espaguete.png" alt="Espaguete de alho">
        <div class="info-card">
          <span>Espaguete de alho</span>
          <p>por Julia Kinoto</p>
        </div>
      </div>

      <div class="card">
        <img src="/assets/lasanha.png" alt="Lasanha mac n` chesse">
        <div class="info-card">
          <span>Lasanha mac n` chesse</span>
          <p>por Juliano Vieira</p>
        </div>
      </div>

      <div class="card">
        <img src="/assets/doce.png" alt="Docinhos pão do céu">
        <div class="info-card">
          <span>Docinhos pão do céu</span>
          <p>por Ricardo Golvea</p>
        </div>
      </div>

      <div class="card">
        <img src="/assets/asinhas.png" alt="Asinhas de frango ao barbecue">
        <div class="info-card">
          <span>Asinhas de frango ao barbecue</span>
          <p>por Vania Steroski</p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-overlay">
    <div class="modal">
      <div class="modal-content">
        <img src="" alt="">
        <span></span>
        <p></p>
        <div class="close-modal">
          <span>Fechar Modal</span>
        </div>
      </div>
    </div>
  </div>

  <script src="/scripts/scripts.js"></script>

{% endblock %}