{% extends "layout.njk" %}

{% block head %}
  <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}
  <div class="recipe-page">
    <div class="cards">
      {% for recipe in revenue %}
      <div class="card">
        <img src="{{recipe.image}}" alt="{{recipe.title}}">
        <div class="info-card">
          <span>{{recipe.title}}</span>
          <p>{{recipe.author}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="modal-overlay">
    <div class="modal">
      <div class="modal-content">
        <img src="" alt="">
        <span></span>
        <p></p>
        <div class="close-modal">
          <span>Fechar Modal</span>
        </div>
      </div>
    </div>
  </div>

  <script src="/scripts/scripts.js"></script>

{% endblock %}