{% extends "layout.njk" %}

{% block head %}
  <title>Foodfy - Buscando receitas</title>
{% endblock %}

 {% block header %}
    <header>
      <div class="menu">
        <div class="logo">
          <a href="/foodfy">
            <img src="/assets/logo.png" alt="Logo foodfy">
          </a>
        </div>
        <div class="links">
          <a href="/foodfy/sobre">Sobre</a>
          <a href="/foodfy/receitas">Receitas</a>
        </div>
        <div class=filter>
          <form action="/foodfy/search" method="GET">
            <input type="text" name="filter" placeholder="Buscar receita" value="{{ filter }}">
            <button type="submit">Filtrar</button>
          </form>
        </div>
      </div>
    </header>
  {% endblock %}

{% block content %}
  <div class="recipe-page">
    <h2 class="h2-filter">Buscando por: "{{ filter }}"</h2>
    <div class="cards">
      {% for recipe in recipes %}
      <div class="card" id="{{recipe.id}}">
        <img src="{{recipe.image}}" alt="{{recipe.title}}">
        <div class="info-card">
          <span>{{recipe.title}}</span>
          <p>por {{recipe.chef_name}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <script src="/scripts/scripts.js"></script>

{% endblock %}