@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: #FFF;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  margin-top: 30px;
}

div.menu {
  display: flex;
  height: 70px;
  margin: 0 16%;
}

div.links {  
  margin-left: 80px;
}

div.links a {
  color: #111111;
  line-height: 26px;
  margin: 16px;
  text-decoration: none;
}

div.links a:hover {
  text-decoration: underline;
}

div.banner {
  background-color: #FBDFDB;
  max-width: 940px;
  max-height: 366px;
  border-radius: 30px;
  margin: 0 16%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.content {
  display: flex;
  flex-direction: column; 
  margin-left: 50px;
  max-width: 50%;
}

div.title {
  max-width: 305px;
  margin-bottom: 10px;
}

div.description {
  max-width: 316px;
  font-size: 18px;
  line-height: 28px;
}

div.cook-image {
  margin-right: 100px;
  margin-top: 70px;
}

div.more-access {
  max-width: 940px;
  max-height: 366px;
  border-radius: 30px;
  margin: 32px 16%;
}

div.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 200px;
}

div.card {
  max-width: 300px;
  max-height: 140px;
  margin: 32px 0;
}

div.card img {
  width: 100%;
  border-radius: 15px;
}

div.info-card {
  margin: 20px 0;
}

div.info-card span {
  font-size: 18px;
  font-weight: bold;
}

div.info-card p {
  margin-top: 5px;
  opacity: 0.5;
}

div.content-footer {
  width: 100%;
  height: 62px;
  background-color: #EEEEEE;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*========Page Sobre=============*/

div.container-about {
  max-width: 940px;
  margin: 0 16%;
  margin-bottom: 120px;
}

div.container-about h2 {
  font-size: 24px;
  line-height: 28px;
}

div.container-about h3 {
  margin-top: 10px;
}

div.about {
  max-width: 940px;
  max-height: 280px;
}

div.about p{
  color: #444444;
  font-size: 18px;
  line-height: 28px;
  margin: 20px 0;
}
